@import "./normalize.scss";
@import "./styleguide.scss";

$color-dark: var(--color-dark);
$color-dark-dark: var(--color-dark-dark);
$color-light: var(--color-light);
$color-blue: var(--color-blue);
$color-blue-dark: var(--color-blue-dark);
$color-gray: var(--color-gray);
$color-lightgray: var(--color-lightgray);
$color-white: var(--color-white);

$color-border: var(--color-border);
$color-border-solid: var(--color-border-solid);
$color-border-light: var(--color-border-light);
$color-border-solid-light: var(--color-border-solid-light);

$color-text: var(--color-text);
$color-text-light: var(--color-text-light);

$alert-error: var(--alert-error);
$alert-success: var(--alert-success);

$animation-primary: var(--animation-primary);
$animation-fast: var(--animation-fast);
$animation-smooth: var(--animation-smooth);
$animation-slow: var(--animation-slow);

$section-padding: var(--section-padding);
$container-padding: var(--container-padding);
$gap-padding: var(--gap-padding);

$max-width: 540px;
$pic-height: 12rem;

.main {
  background-color: $color-white;
  position: relative;
  overflow-x: hidden;
}

.main-wrap {
  min-height: 100vh;
  padding-top: calc($section-padding / 2);

  @media (max-width: 720px) {
    padding-top: calc($section-padding);
  }

  .section {
    width: 100%;
    padding: 0;

    .container {
      max-width: $max-width;
      padding-left: calc($container-padding);
      padding-right: calc($container-padding);
      position: relative;
    }
  }
}

.btn-menu {
  position: fixed;
  z-index: 1000;
  top: calc($gap-padding / 2);
  right: calc($gap-padding / 2);
  height: 2.75em;
  display: flex;
  justify-self: center;
  align-items: center;
  cursor: pointer;

  &-inner {
    padding-left: calc($gap-padding / 3);
    padding-right: calc($gap-padding / 2);

    @media (max-width: 720px) {
      padding-left: calc($gap-padding / 2);
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 50%;
      left: 0;
      transform: translate(-50%, 50%);
      display: block;
      width: calc(clamp(16px, 1.2vw, 19px) / 2.75);
      height: calc(clamp(16px, 1.2vw, 19px) / 2.75);
      border-radius: 50%;
      background: $color-dark;
    }
  }
}

.hero {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    background-color: $color-dark-dark;
    width: 100%;
    height: calc($pic-height / 2);
    z-index: 1;
  }

  .jiayi-svg {
    width: 100%;
    height: auto;
  }

  h4 {
    font-size: clamp(1.25em, 2vw, 2.8em);
    padding-top: calc($section-padding / 4);

    span {
      display: block;
    }
  }

  .picture {
    height: $pic-height;
    width: 100%;
    overflow: visible;
    position: relative;
    z-index: 10;

    .base {
      height: 100%;
      width: calc(100% + $container-padding);
      border-radius: calc($pic-height / 2);
      background-color: $color-blue-dark;

      @media (max-width: 720px) {
        width: 200%;
      }
    }

    .image {
      position: absolute;
      z-index: 20;
      font-size: clamp(1.25em, 2vw, 2.8em);
      height: calc($pic-height + $section-padding / 4 + 6em);
      aspect-ratio: 0.77;
      bottom: 0;
      right: calc(-1 * $container-padding);
      border-bottom-right-radius: calc($pic-height / 2);
      overflow: hidden;

      @media (max-width: 720px) {
        border-bottom-right-radius: 0;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: left top;
      }
    }
  }
}

.calendly {
  position: relative;
  top: -1px;
  background-color: $color-dark-dark;
  color: $color-white;

  .container {
    padding-top: calc($section-padding / 2);
    padding-bottom: calc(clamp(9em, 12vw, 11em) / 2 + 1em);
  }

  p {
    font-size: clamp(1.55em, 2.3vw, 2.5em);
  }

  .btn {
    $height: clamp(9em, 12vw, 11em);

    width: clamp(9em, 12vw, 11em);
    height: $height;
    border: 0;
    position: absolute;
    right: calc($gap-padding / 2);
    bottom: calc(-0.5 * $height);

    .btn-round {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      background-color: $color-blue;
    }

    .btn-fill {
      background-color: $color-blue-dark;
    }
  }
}

.footer {
  .container {
    padding: calc($section-padding / 2) 0;

    @media (max-width: 720px) {
      padding-top: calc($section-padding);
    }

    .socials {
      padding-top: 1em;

      h5 {
        text-align: center;
      }

      ul {
        display: flex;
        justify-content: space-evenly;

        a:hover::after {
          transform: translate(-50%, -50%) scale(1);
        }
      }

      .stripe {
        margin-top: 1em;
      }
    }

    .final-pic {
      width: 100%;
      height: auto;
      margin-top: calc($section-padding / 4);

      @media (max-width: 720px) {
        padding-top: calc($section-padding / 2);
      }
    }
  }
}
/* ------------------------- Fixed Nav -------------------------------------------------- */

.fixed-nav-back {
  background: linear-gradient(to right, hsla(220, 13%, 0%, 0.3) 40%, hsla(220, 13%, 0%, 1) 80%);
  opacity: 0;
  transition: opacity 0.8s cubic-bezier(0.7, 0, 0.2, 1);
  z-index: 100;
  pointer-events: none;
  will-change: opacity;
}

.nav-active .fixed-nav-back {
  opacity: 0.35;
  pointer-events: all;
}

.fixed-nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background: $color-dark;
  z-index: 100;
  transform: translate(calc(100% + 6vw), 0) rotate(0.001deg);
  transition: transform 0.8s cubic-bezier(0.7, 0, 0.2, 1);
  will-change: transform;

  .socials {
    li {
      display: inline-flex;
      font-size: 0.85em;

      @media (max-width: 720px) {
        font-size: 1em;
        margin-right: 0;
      }
    }

    h5 {
      padding-left: calc(var(--gap-padding) * 0.5);
      margin-bottom: 1em;
    }
  }
}

.nav-active .fixed-nav {
  transform: translate(0, 0) rotate(0.001deg);
}

.fixed-nav-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 15vh 7.5vw 10vh 7.5vw;
  position: relative;
  transform: translate(0, 0) rotate(0.001deg);
  transition: all 0.6s cubic-bezier(0.7, 0, 0.2, 1);
  will-change: transform;
}

.nav-active .fixed-nav-inner {
  transform: translate(0, 0) rotate(0.001deg);
}

.fixed-nav .nav-row h5 {
  margin-bottom: 3em;
}

.fixed-nav .nav-row ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 5vh;
}

.fixed-nav .nav-row .btn-link .btn-click {
  height: auto;
}

.fixed-nav .nav-row ul {
  margin-left: calc($gap-padding / -2);
}

.fixed-nav .nav-row .btn-text-inner {
  font-size: 3.5em;
  line-height: 1.4;
  font-size: calc(clamp(3.25em, 5vw, 4em) * 0.875);
}

.fixed-nav .nav-row .btn-link .btn-click::after {
  background: $color-white;
  left: calc($gap-padding / -4);
  top: 50%;
  bottom: auto;
  width: calc(clamp(16px, 1.2vw, 19px) / 1.65);
  height: calc(clamp(16px, 1.2vw, 19px) / 1.65);
}

.fixed-nav .social-row {
  margin-left: calc($gap-padding / -4);
}

.fixed-nav-rounded-div {
  position: absolute;
  left: 1px;
  transform: translateX(-100%);
  height: 100%;
  top: 0;
}

.fixed-nav-rounded-div .rounded-div-wrap {
  width: 6vw;
  height: 100%;
  transition: $animation-slow;
  transition: all 0.85s cubic-bezier(0.7, 0, 0.2, 1);
  position: relative;
  will-change: width;
}

.nav-active .fixed-nav-rounded-div .rounded-div-wrap {
  width: 0vw;
}

.fixed-nav-rounded-div .rounded-div-wrap .rounded-div {
  background: var(--color-dark);
  height: 150%;
  content: "";
  display: block;
  position: absolute;
  width: 775%;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-6.5%, -50%);
}

.fixed-nav .nav-row ul .btn {
  transform: translate(15vw, 0) rotate(0.001deg);
  transition: all 0.8s cubic-bezier(0.7, 0, 0.2, 1);
  will-change: transform;
}

.nav-active .fixed-nav .nav-row ul .btn {
  transform: translate(0, 0) rotate(0.001deg);
}

.fixed-nav .nav-row ul .btn:nth-child(2) {
  transition-delay: 0.03s;
}
.fixed-nav .nav-row ul .btn:nth-child(3) {
  transition-delay: 0.06s;
}
.fixed-nav .nav-row ul .btn:nth-child(4) {
  transition-delay: 0.09s;
}

.fixed-nav .social-row .stripe {
  display: none;
}

@media screen and (max-height: 680px) {
  .fixed-nav .nav-row .btn-text-inner {
    font-size: 3em;
    line-height: 1.25;
  }
}

@media screen and (max-width: 540px) {
  .fixed-nav-back {
    background: hsla(220, 13%, 5%, 1);
  }

  .fixed-nav {
    width: 100%;
    transform: translate(calc(100% + 20vw), 0) rotate(0.001deg);
  }

  .fixed-nav .fixed-nav-inner {
    height: calc(var(--vh, 1vh) * 100);
    padding: calc(var(--vh, 1vh) * 15) var(--container-padding) calc(var(--gap-padding) * 1.25) var(--container-padding);
    transform: translate(20vw, 0) rotate(0.001deg);
    transition-delay: 0s;
  }

  .nav-active .fixed-nav .fixed-nav-inner {
    transform: translate(0, 0) rotate(0.001deg);
    transition-delay: 0.1s;
  }

  .fixed-nav .nav-row .btn-link .btn-click::after {
    background: var(--color-white);
    left: auto;
    right: 0.4em;
    top: 50%;
    bottom: auto;
    width: calc(clamp(16px, 1.2vw, 19px) / 1.5);
    height: calc(clamp(16px, 1.2vw, 19px) / 1.5);
  }

  .fixed-nav .nav-row ul {
    width: 100%;
    padding-top: calc(var(--vh, 1vh) * 3);
    padding-bottom: calc(var(--vh, 1vh) * 3);
  }

  .fixed-nav .nav-row ul .btn {
    width: 100%;
    transition: all 0.8s cubic-bezier(0.7, 0, 0.2, 1);
  }

  .fixed-nav .nav-row ul .btn .btn-text {
    justify-content: flex-start;
  }

  .fixed-nav .social-row .stripe {
    display: block;
    margin-bottom: calc(var(--section-padding) / 3);
  }

  .fixed-nav-rounded-div .rounded-div-wrap {
    width: 20vw;
  }

  .nav-active .fixed-nav-rounded-div .rounded-div-wrap {
    width: 0;
  }

  .fixed-nav .nav-row ul .btn:nth-child(1) {
    transition-delay: 0s;
  }
  .fixed-nav .nav-row ul .btn:nth-child(2) {
    transition-delay: 0.03s;
  }
  .fixed-nav .nav-row ul .btn:nth-child(3) {
    transition-delay: 0.06s;
  }
  .fixed-nav .nav-row ul .btn:nth-child(4) {
    transition-delay: 0.09s;
  }

  .nav-active .fixed-nav .nav-row ul .btn:nth-child(1) {
    transition-delay: 0.1s;
  }
  .nav-active .fixed-nav .nav-row ul .btn:nth-child(2) {
    transition-delay: 0.13s;
  }
  .nav-active .fixed-nav .nav-row ul .btn:nth-child(3) {
    transition-delay: 0.16s;
  }
  .nav-active .fixed-nav .nav-row ul .btn:nth-child(4) {
    transition-delay: 0.19s;
  }
}
